*{
    background: url("abstract.jpg");
}

h1 {
    font-size: 40px;
    text-align: center;
    color: red;
    font-weight: bolder;
}

p{
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
    color:blueviolet;
}

h3{
    font-size: 40px;
    text-align: center;
    color: red;
    font-weight: bolder;
    margin-top: 20px;
}