*{
    background-color: transparent;
}

body{
    background-image: url("abstract.jpg") ;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}



h1{
    color: lightblue;
    background-color: #161616;
    display:block;
    padding: 50px;
    justify-content: left;
    border:5px solid lightblue;
    position:sticky;
    top: 0;
    background-color: #161616;
    z-index: 999;
    margin-right: 30px;
}


h2 {
    color: lightblue;
    background-color: #161616;
    display:flex;
    padding: 30pxpx;
    justify-content: center;
    border:5px solid lightblue;
    font-size: 35px;

} 

p{
    color: red;
    display:flex;
    padding: -30px;
    justify-content: left;
    font-size: 20px;
    
}

.img{
    width: 800px;
    height:auto;
    display: inline;
    justify-content: left;
    align-items: left;
}    