*{
    color: #2b2839;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


body{
   background: url("abstract.jpg") no-repeat;
   min-height: 100vh;
   display:flex;
   justify-content: center;
   align-items: center;
   background-size: cover;
   background-position: center;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;

}

.logo img {
    height: 40px; 
    position: fixed;
}

p{
    color: #707070;
}

h2{
    color:#FF5722;
}

.logo{
    font-size:35px;
    color:blue;
    user-select: none;
    ;
}

.navigation a{
    position:relative;
    font-size:20px;
    color: burlywood;
    text-decoration: none;
    margin-left: 40px;
}
.navigation a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:100%;
    height:3px;
    background:#fff;
    border-radius: 5px;
    transform:scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after {
    transform:scaleX(1)
}

.navigation .btn-login{
    width:100px;
    cursor:pointer;
    border: 3px solid #fff;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 45px;
    transition:0.5s;
}

.navigation .btn-login:hover {
    background: lightblue;
    color: blue;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    padding: 20px;
  }
  
  .game-item {
    flex: 0 0 calc(50% - 20px); 
    margin-bottom: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    background-size: cover;
    background-position: center;
  }

  .game-item .game-image {
    padding-bottom:0 0;

    }

  .game-item img {
    width:100%;
    height:auto;
    display:block;
    max-width: 100%;;
  }

  
  
.price {
    font-weight: bold;
    color: #FF9800;
  }
  
  .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 2px solid blue;
  }

  .game-details{
  position: absolute; 
  bottom: 0; 
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.7); 
  color: #fff; 
  padding: 10px; 
}

